@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/signup-form-06/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/signup-form-06/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/signup-form-06/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/signup-form-06/css/style.css">

    <title>Traversal Register</title>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/signup-form-06/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h3>Register</h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label>Name</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group first">
                                <label>Surname</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group first">
                                <label>Email</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group first">
                                <label>Phone</label>
                                <input type="number" class="form-control" id="email">
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password">

                            </div>
                            <div class="form-group last mb-3">
                                <label>Re-type Password</label>
                                <input type="password" class="form-control" id="re-password">

                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-3 mb-sm-0">
                                    <span class="caption">Agree our <a href="#">Terms and Conditions</a></span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                            </div>

                            <input type="submit" value="Register" class="btn btn-block btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/signup-form-06/js/jquery-3.3.1.min.js"></script>
    <script src="~/signup-form-06/js/popper.min.js"></script>
    <script src="~/signup-form-06/js/bootstrap.min.js"></script>
    <script src="~/signup-form-06/js/main.js"></script>
</body>
</html>